div {
  display: block;
}
.team {
  width: 80%;
  margin: 30px auto 60px;
  overflow-y: auto;
}
ul {
  list-style: none;
}
.group {
  color: #043f5f;
}
.group h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.group li {
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
}
