.header header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  margin-top: 10px;
}

.header img {
  max-width: 60px;
  margin-right: 25px;
}

.header .info {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 25px;
}

.header .back {
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 0px;
}

#info {
  max-width: 40px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back {
  max-width: 40px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-device-width: 350px) {
  #back {
    max-width: 30px;
  }
  .header h1 {
    font-size: 1.8em;
  }
  .header .back {
    margin-right: 10px;
  }
}
